<h2><%= @lecture[:name] %></h2>
<ul>
  <li>Term    : <%= @lecture[:term] %></li>
  <li>Genre   : <%= @lecture[:genre] %>
  <li>Day     : <%= @lecture[:day]%></li>
  <li>Period  : <%= @lecture[:period] %></li>
  <li>レビュー: <%= link_to "詳細" ,"/lectures/review/" + @lecture[:name] %></li> 
</ul>