
<h1>芝浦工業大学 時間割</h1>

<table class="cp_table">
  <thead>
    <tr>
      <th></th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
    </tr>
  </thead>
  <tbody>
  <% for i in 1..5 do %>
    <tr>
      <th><%= i %></th>
      <% for j in 1..5 do %>
        <td label="上のth要素"><p><%= @table[i-1][j-1] %></p></td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
</table>


<ul class="collapsible expandable">
  <li>
    <div class="collapsible-header"></i>月曜日</div>
    <% @mondays.each do |monday| %>
      <div class="collapsible-body"><span>
          <%= monday.name %>
          <%= monday.term %>
          <%= monday.genre %>
          <%= monday.period %>時限目
          <!-- /lectures/show/講義のid 講義情報ページに飛ぶ 以下同じ -->
          <%= link_to "詳細" ,"/lectures/show/" + monday.id.to_s %>  
          <%= button_to "#{monday.name}を追加", {controller: 'timetables', action: 'update'}, {method: :get, params:{lecture_id: monday.id }} %>
          <%= button_to "#{monday.name}を削除", {controller: 'timetables', action: 'delete'}, {method: :get, params:{lecture_id: monday.id }} %>
        </span></div>
      <% end %>
  </li>
  <li>
    <div class="collapsible-header"></i>火曜日</div>
    <% @tuesdays.each do |tuesday| %>
      <div class="collapsible-body"><span>
          <%= tuesday.name %>
          <%= tuesday.term %>
          <%= tuesday.genre %>
          <%= tuesday.period %>時限目
          <%= link_to "詳細" ,"/lectures/show/" + tuesday.id.to_s %>
          <%= button_to "#{tuesday.name}を追加",{controller: 'timetables', action: 'update'}, {method: :get, params:{lecture_id: tuesday.id }} %>
          <%= button_to "#{tuesday.name}を削除", {controller: 'timetables', action: 'delete'}, {method: :get, params:{lecture_id: tuesday.id }} %>
        </span></div>
      <% end %>
  </li>
  <li>
    <div class="collapsible-header"></i>水曜日</div>
    <% @wednesdays.each do |wednesday| %>
      <div class="collapsible-body"><span>
          <%= wednesday.name %>
          <%= wednesday.term %>
          <%= wednesday.genre %>
          <%= wednesday.period %>時限目
          <%= link_to "詳細" ,"/lectures/show/" + wednesday.id.to_s %>
          <%= button_to "#{wednesday.name}を追加", {controller: 'timetables', action: 'update'}, {method: :get, params:{lecture_id: wednesday.id }} %>
          <%= button_to "#{wednesday.name}を削除", {controller: 'timetables', action: 'delete'}, {method: :get, params:{lecture_id: wednesday.id }} %>
          </span></div>
      <% end %>
    </li>
    <li>
      <div class="collapsible-header"></i>木曜日</div>
      <% @thursdays.each do |thursday| %>
        <div class="collapsible-body"><span>
          <%= thursday.name %>
          <%= thursday.term %>
          <%= thursday.genre %>
          <%= thursday.period %>時限目
          <%= link_to "詳細" ,"/lectures/show/" + thursday.id.to_s %>
          <%= button_to "#{thursday.name}を追加", {controller: 'timetables', action: 'update'}, {method: :get, params:{lecture_id: thursday.id }} %>
          <%= button_to "#{thursday.name}を削除", {controller: 'timetables', action: 'delete'}, {method: :get, params:{lecture_id: thursday.id }} %>
          </span></div>
      <% end %>
    </li>
    <li>
      <div class="collapsible-header"></i>金曜日</div>
      <% @fridays.each do |friday| %>
        <div class="collapsible-body"><span>
          <%= friday.name %>
          <%= friday.term %>
          <%= friday.genre %>
          <%= friday.period %>時限目
          <%= link_to "詳細" ,"/lectures/show/" + friday.id.to_s %>
          <%= button_to "#{friday.name}を追加", {controller: 'timetables', action: 'update'}, {method: :get, params:{lecture_id: friday.id }} %>
          <%= button_to "#{friday.name}を削除", {controller: 'timetables', action: 'delete'}, {method: :get, params:{lecture_id: friday.id }} %>
          </span></div>
      <% end %>
    </li>
</ul>

