<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= form_for(@user, url: yield(:url)) do |f| %>
                    <%= @user.name %>
                    <% if @user.image? %>
                        <%= image_tag @user.image.url, :size => '160x160' %>
                    <% else %>
                        <%= image_tag "default.jpg", :size =>'160x160' %>
                    <% end %>
                <% end %>
            </h1>
        </section>
    </aside>
</div>


<h1><%= link_to "芝浦工業大学　時間割" ,"/timetables/index/" +@user.id.to_s %></h1>
