<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "マイスケジュール", root_path , id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li style="background-color:black" colspan="2"><%= link_to "ホーム", root_path %></li>
                <li style="background-color:black" colspan="2"><%= link_to "お問合せ", help_path %></li>
                <% if logged_in? %>
                    <li style="background-color:black" colspan="2"><%= link_to "ユーザー", users_path %></li>
                    <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="waves-effect waves-light btn"><%= link_to "プロフィール", current_user %></li>
                            <li class="waves-effect waves-light btn"><%= link_to "セッティング", edit_user_path(current_user) %></li>
                            <li class="waves-effect waves-light btn">
                                <%= link_to " ログアウト", logout_path, method: :delete %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to "ログイン", login_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>
